section {
  z-index: 0!important;;
}

.d-table {
  text-align: center!important;
}

.d-table img {
  max-width: 55%!important;
  margin-top: -8px!important;
}

.tile-list {
  list-style-type: none;
}

.tile-list li {
  margin: 8px;
}

.right {
  position: absolute;
  right: 15px;
  top: 8px;
}

.clickable {
  cursor: pointer;
}

.copy-button {
  font-size: 16px!important;
  margin-left: 8px;
}

.custom-tile {
  color: green;
}

.seg-count {
  position: absolute;
  bottom: 15px;
  left: 20px;
  font-weight: 900;
}

.seg-title {
  font-size: 18px;
}

.click-rate {
  position: absolute;
  bottom: 10px;
  left: 15px;
  font-size: 14px;
}

.open-rate {
  position: absolute;
  bottom: 10px;
  right: 15px;
  font-size: 14px;
}

.email-modal .modal-dialog .modal-content {
  width: 75%!important;
  margin: auto!important;
}

.email-modal {
  margin-left: 8%!important;
}

.template-name {
  margin-bottom: 10px;
}

.standard-tile {
  border-radius: 8px!important;
}

.accordion-tile {
  margin: 10px;
}

.green {
  color: green;
}

.seg-name {
  margin-bottom: 10px;
}

.quill {
  background: #fff!important;
}

.preview {
  margin-left: 5px;
}

.message-banner {
  background: #fff;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 2000;
  min-height: 100px;
  padding: 15px;
  text-align: center;
  box-shadow: 0 .46875rem 2.1875rem rgba(90,97,105,.1),0 .9375rem 1.40625rem rgba(90,97,105,.1),0 .25rem .53125rem rgba(90,97,105,.12),0 .125rem .1875rem rgba(90,97,105,.1);
}

.date-picker {
  padding-top: 25px!important;
}

.react-date-picker__wrapper {
  display: flex;
  flex-grow: 1;
  flex-shrink: 0;
  border: 1px solid #e1e5eb!important;
  border-radius: 5px!important;
  background: #fff!important;
  padding: 5px!important;

}

#editor iframe {
  min-width: 850px!important;
}

.message-body {
  padding: 15px;
}

.message-body div p, .message-body p {
  font-size: 16px!important;
  margin-bottom: 10px!important;
}

.message-body h2 {
  margin-top: 30px;
  margin-bottom: 30px;
}

.project-title {
  font-size: 20px!important;
}

.a-el-fix {
  background: none;
  border: none;
  color: #007bff;
}

.link-color {
  color: #007bff;
}

.project-drop {
  margin-top: 10px!important;
}

.account-card {
  font-size: 14px;
}

.logo {
  max-width: 85%;
  margin: auto;
  margin-bottom: 25px;
}

.heading-tile {
  font-size: 24px!important;
}

.beta-text {
  font-size: 12px;
  color: red;
  position: absolute;
  top: 25px;
  right: 30px;
}

.rounded-circle {
  height: 75px;
  width: 75px;
  border-radius: 50% !important;
}

.custom-modal .modal-dialog .modal-content {
  width: 140%!important;
  margin: auto!important;
  overflow: scroll!important;
  height: auto!important;
}

.custom-modal-email .modal-dialog .modal-content {
  width: 160%!important;
  margin: auto!important;
  overflow: scroll!important;
  height: auto!important;
  margin-left: -50px!important;
}

.sc-jbKcbu {
  width: 95%!important;
  margin: auto!important;
}

.web3connect-modal-container {
  padding-left: 170px!important;
  padding-top: 65px!important;
}

.refresh {
  margin-left: 8px;
  font-size: 14px;
}

.button-filter {
  max-width: 65%!important;
  margin: auto!important;
  text-align: center;
}

.filter-btn {
  max-width: 50%!important;
  margin: auto!important
}

.custom-select {
  width: 80px!important;
  margin-right: 10px;
}

.segment-icon {
  top: 0!important;
  font-size: 16px!important;
}

.text-underline {
  text-decoration: underline;
}

.chat-footer {
  border-top: 1px solid #dfe1e3!important;
}

.from-them {
  float: left;
  clear:both;
  background: #e1e5eb;
  padding: 10px;
  border-radius: 30px;
  color: #282828;
  margin-bottom: 5px;
  font-size: 12px;
}

.from-us {
  float: right;
  clear:both;
  background: #2568EF;
  padding: 10px;
  border-radius: 30px;
  color: #fff;
  margin-bottom: 5px;
  font-size: 12px;
}

#support-card-body {
  max-height: 400px!important;
  overflow: scroll!important;
}

.support-card-header {
  border-bottom: 1px solid #dfe1e3!important;
}

.closed-convo-style {
  background: "none"!important;
  color: #eee!important;
  float: right;
  clear:both;
  padding: 10px;
  border-radius: 30px;
  margin-bottom: 5px;
  font-size: 12px;
}
.__floater {
  z-index: 2000!important;
}
