section {
  z-index: 0!important;;
}

.d-table {
  text-align: center!important;
}

.d-table img {
  max-width: 55%!important;
  margin-top: -8px!important;
}

.tile-list {
  list-style-type: none;
}

.tile-list li {
  margin: 8px;
}

.right {
  position: absolute;
  right: 15px;
  top: 8px;
}

.clickable {
  cursor: pointer;
}

.custom-tile {
  color: green;
}

.seg-count {
  position: absolute;
  bottom: 15px;
  left: 20px;
  font-weight: 900;
}

.seg-title {
  font-size: 18px;
}

.click-rate {
  position: absolute;
  bottom: 10px;
  left: 15px;
  font-size: 14px;
}

.open-rate {
  position: absolute;
  bottom: 10px;
  right: 15px;
  font-size: 14px;
}

.email-modal .modal-dialog {
  max-width: 75%!important;
}

.email-modal {
  margin-left: 8%!important;
}

.template-name {
  margin-bottom: 10px;
}

.standard-tile {
  border-radius: 8px!important;
}

.accordion-tile {
  margin: 10px;
}

.green {
  color: green;
}

.seg-name {
  margin-bottom: 10px;
}

.quill {
  background: #fff!important;
}

.preview {
  margin-left: 5px;
}

.message-banner {
  background: #fff;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 2000;
  min-height: 100px;
  padding: 15px;
  text-align: center;
  box-shadow: 0 .46875rem 2.1875rem rgba(90,97,105,.1),0 .9375rem 1.40625rem rgba(90,97,105,.1),0 .25rem .53125rem rgba(90,97,105,.12),0 .125rem .1875rem rgba(90,97,105,.1);
}