section {
  z-index: 0!important;;
}

.d-table {
  text-align: center!important;
}

.d-table img {
  max-width: 55%!important;
  margin-top: -8px!important;
}

.tile-list {
  list-style-type: none;
}

.tile-list li {
  margin: 8px;
}

.right {
  position: absolute;
  right: 15px;
  top: 8px;
}

.clickable {
  cursor: pointer;
}

.custom-tile {
  color: green;
}

.seg-count {
  position: absolute;
  bottom: 15px;
  left: 20px;
  font-weight: 900;
}

.seg-title {
  font-size: 18px;
}

.click-rate {
  position: absolute;
  bottom: 10px;
  left: 15px;
  font-size: 14px;
}

.open-rate {
  position: absolute;
  bottom: 10px;
  right: 15px;
  font-size: 14px;
}

.email-modal .modal-dialog {
  max-width: 75%!important;
}

.email-modal {
  margin-left: 8%!important;
}

.template-name {
  margin-bottom: 10px;
}

.standard-tile {
  border-radius: 8px!important;
}

.accordion-tile {
  margin: 10px;
}